{% extends 'base.html.twig' %}

{% block title %}Modifier l'offre{% endblock %}

{% block body %}
<main class="max-w-screen-lg mx-auto py-5 md:py-16 px-4">
    <h1 class="text-3xl font-bold mb-6">Modification de l'offre </h1>

    <div class="max-w-lg mx-auto">
        {{ form_start(jobForm, {'attr': {'class': 'space-y-4'}}) }}
        
        <div class="mb-4">
            {{ form_label(jobForm.title, 'Titre de l\'offre', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.title, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.title) }}
        </div>

        <div class="mb-4">
            {{ form_label(jobForm.company, 'Entreprise', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.company, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.company) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.link, 'Lien', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.link, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.link) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.location, 'Localisation', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.location, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.location) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.salary, 'Salaire', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.salary, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.salary) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.contactPerson, 'Personne de contact', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.contactPerson, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.contactPerson) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.contactEmail, 'Email de contact', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.contactEmail, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.contactEmail) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.applicationDate, 'Date de candidature', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.applicationDate, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.applicationDate) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(jobForm.status, 'Statut', {'label_attr': {'class': 'block text-lg font-semibold'}}) }}
            {{ form_widget(jobForm.status, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md'}}) }}
            {{ form_errors(jobForm.status) }}
        </div>
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer les modifications</button>
        
        {{ form_end(jobForm) }}
    </div>
</main>
{% endblock %}
