{% extends 'base.html.twig' %}

{% block title %}Demande d'offre{% endblock %}

{% block body %}
<main class="w-screen-lg mx-auto py-5 md:py-16 px-4">
<h1>Ma demande d'offre  </h1>
<p>Emise le :  {{date}}</p>

  <div class="relative w-full border border-solid border-gray-200 rounded-2xl p-4 transition-all duration-500 col-span-12  xl:p-7   lg:col-span-3 md:col-span-6 ">
      <div class=" mb-6 ">
      {# <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.66699 12.8162L11.3501 15.4993C11.5616 15.7107 11.9043 15.7109 12.1158 15.4997L17.8753 9.75033M13.0003 23.8337C7.01724 23.8337 2.16699 18.9834 2.16699 13.0003C2.16699 7.01724 7.01724 2.16699 13.0003 2.16699C18.9834 2.16699 23.8337 7.01724 23.8337 13.0003C23.8337 18.9834 18.9834 23.8337 13.0003 23.8337Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg> #}
      </div>
      <h2 class=" font-semibold text-gray-900 mb-2 capitalize transition-all duration-500 ">{{offer.title}}</h2>
      <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 "> Provides faster transaction, so money arrives in realtime </p>
      </div>
      <div class="container m-4 flex gap-3">
      <form action="{{ path('app_job_offer_delete', {'id': offer.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');">
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offer.id) }}">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Supprimer
    </button>
</form>
    <a href="{{ path('app_job_offer_edit', {'id': offer.id})}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editer</a>
 <form action="{{ path('app_cover_letter_generate') }}" method="post" >
      <input type="hidden" name="_token" value="{{ csrf_token('app_cover_letter_generate' ) }}">
      <input type="hidden" name="job_offer_id" value="{{ offer.id }}">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Générer une lettre de motivation
    </button>
</form>
    </div>

</main>

{% endblock %}
