{#  Template when the user is logged in #}


<a href="{{ path('app_job_offer')}}" data-tooltip="{{"All notes" | trans }}" class="p-2 rounded-md bg-slate-200 tooltip">
    {{ ux_icon('mdi:archive-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_job_offer_new')}}" data-tooltip="{{"Add a new note" | trans }}" class="p-2 rounded-md bg-slate-200 tooltip">
    {{ ux_icon('mdi:plus-box-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>

<a  href="" 
    class="w-11 h-11 bg-cover bg-center shadow-md rounded-full hover:scale-95 transition-transform duration-200 ease-in-out"
    style="background-image: url('{{ '/images/img/' ~ app.user.image ?? 'default.webp' }}')"
>
</a>